@using HazonClient.Pages
@{
    Layout = "_DashboardLightBlank";
}

<script src="js/services/baseUrl.js"></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="login-content card">
                <div class="login-form">
                    <h4>Login</h4>
                    <form id="signInForm">
                        <div class="form-group">
                            <label>Username</label>
                            <input id="username" type="text" name="Username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input id="password" type="password" name="Password" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="rememberMe" type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a asp-controller="@MainMenu.ForgotPassword.ControllerName" asp-action="@MainMenu.ForgotPassword.ActionName">@MainMenu.ForgotPassword.PageName?</a>
                            </label>

                        </div>
                        <button class="btn btn-primary btn-flat m-b-30 m-t-30" id="btnSignIn" type="submit">Sign in</button>
                        @*<div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>*@
    <script>
        //var formData = $("#signInForm").serialize();
        //console.log(formData);
        $(document).ready(function() {

            $("#btnSignIn").click(function(e) {
                e.preventDefault();
                var formData = {
                    'Username': $("#username").val(),
                    'Password': $("#password").val()
                };
                console.table(formData);
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "@Url.Action("LoginUser")",
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function(response) {
                        if (response.state === true) {
                            toastr.success("Login in was successful",
                                {
                                    timeOut: 5000,
                                    "closeButton": true,
                                    "debug": false,
                                    "newestOnTop": true,
                                    "progressBar": true,
                                    "positionClass": "toast-top-right",
                                    "preventDuplicates": true,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut",
                                    "tapToDismiss": false
                                });
                            
                            sessionStorage.setItem("user", response.data.token);
                            localStorage.setItem("user",response.data.username);
                            window.location.href = "/Dashboard/Index";
                            return response;
                        }
                    },
                    error: function(response) {
                        toastr.warning("User does not exist",
                            {
                                timeOut: 5000,
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": true,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut",
                                "tapToDismiss": false
                            });
                        console.log(response);
                    }
                });
            });
        });


    </script>
}
