
<div class="dropdown-menu dropdown-menu-right animated slideInRight">
    <ul class="dropdown-user">
        <li role="separator" class="divider"></li>
        <li><a href="#"> Profile</a></li>
        <li><a href="#"> Balance</a></li>
        <li><a href="#"> Inbox</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"> Setting</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="link" id="userLogout"> Logout</a></li>
    </ul>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {

            $("#userLogout").click(function() {
                sessionStorage.clear();
            });
        })
    </script>
}
