@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] =
    "Lead";
    ;
    Layout = "_DashboardLight";
}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">New Customer Registration</h4>
                <h6 class="card-subtitle">for Business</h6>
                <form class="form p-t-12">
                    <div class="form-group">
                        <label for="pwd2">Client Type</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <select type="password" class="form-control form-type" id="pwd2" placeholder="Enter email">
                                <option value="retail">Retail</option>
                                <option value="corporate">Corporate</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control form-type" id="firstName" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">First Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control form-type" id="lastName" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Middle Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control form-type" id="middleName" placeholder="Middle name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control form-type" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd1">Contact</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="tel" class="form-control form-type" id="contact" placeholder="Enter phone number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control form-type" id="address" placeholder="enter client address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Date of Birth</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="date" class="form-control form-type" id="dob">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-success">
                            <input id="notify" type="checkbox">
                            <label for="notify"> Send Notification </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>